@use "../abstracts/variables" as *;

:root .homeTwo {
  --thm-primary: #{$thm-primary};
  --thm-primary-rgb: #{$thm-primary-rgb};
  --thm-heading-font-color: #{$thm-heading-font-color};
  --thm-black: #{$thm-black};
  --thm-black-rgb: #{$thm-black-rgb};
  --thm-gray-bg: #{$thm-gray-bg};
  --thm-gray-bg-rgb: #{$thm-gray-bg-rgb};
  --thm-white-rgb: #{$thm-white-rgb};
}
