@use "variables" as *;

@mixin respond($breakpoint) {
  @if $breakpoint == xl {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sticky-header-shadow {
  transition: box-shadow 0.25s ease;
  box-shadow: 0 4px 24px rgba($thm-black-rgb, 0.12);
}
